.home, .scenarioHome  {
    margin-top: 4rem;
}

.loginButton, .home, #list {
    margin-left: auto;
    margin-right: auto;
}

body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
  }

#root {
    margin-top: 5rem;
}

nav, footer {
    background-color: rgb(143, 101, 161);
}

footer, #scenarioDetails {
    right: 0;
    bottom:0;
    left:0;
  }

#logo {
    width: 6rem;
    height: 6rem;
}
.logo, .login, .newScenarioLayout a, #scenarioDetails, #list, #trial {
    text-align: center;
}

li {
    list-style-type: none;
}

.arrow {
    height: 1.5rem;
    width: 1.5rem;
}

.addButton {
    float: right;
}

#scenarioDetails {
    bottom: 15rem;
    position: absolute;
}

.btn-secondary, .basicScenarioText, form, #trial {
    margin-top: 2rem;
}

.mainPage, .btn-warning {
    margin-top: 1rem;
}

.incomeColumnSize {
    width: 50%;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .btn-warning, nav, footer {
    color:white;
}

#graph {
    width: 290px;
    height: 160px;
}

.plusSign {
    width: 50px;
}